<h1>Nearby {{need}} Resources</h1>
<a href="javascript:history.back()"><- Go Back</a>
<hr>

{{#if resources.length}}
    {{#each resources}}
        <div class="list-container" style="border: 2px solid #007bff; padding: 15px;margin-bottom: 20px; border-radius: 10px;">
            <div class="list-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <h2 style="margin:0">{{this.name}}</h2>
                    <p style="color: green; font-weight: bold;">{{this.status}}</p>
                </div>
                <div style="background: #007bff; color: white; padding: 5px 10px; border-radius: 20px;">
                    {{this.distance}} miles
                </div>
            </div>

            <h3>Details:</h3>
            <ul class="task-ul">
                <li class="task-li"><strong>Address:</strong> {{this.address}}</li>
                <li class="task-li"><strong>Hours:</strong>{{this.hours}}</li>
            </ul>

            <button class="btn btn-success w-100 mt-2" style="background-color: #28a745; color: white; corder: non; padding: 10px; border-radius: 5px; width: 100%;">
                Start Walking Path
            </button>
        </div>
    {{/each}}

{{else}}
    <p>Searching for nearby {{need}} if nothing appear, try moving to a clearer area.</p>
{{/if}}